@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/grid";


footer {
  position: fixed;
  bottom: 0;
  background: #cfcfcf;
  width: 100%;
  padding: 0;
  left: 0;
  & > p {
    margin: 0;
    padding: 6px;
    font-size: 80%;
    a {
      color: #000;
    }
  }
}

